@charset "UTF-8";
body{
  margin: 0;
  padding: 0;
	color: #646464;
  font-family: "ヒラギノ角ゴ Pro", "メイリオ";
}
a{
  color: #646464;
  text-decoration: underline;
}
a:hover{
  color: #646464;
  text-decoration: underline;
}
body, h1, h2, p, div, ul,li{
	margin: 0;
	padding: 0;
}
li{
  list-style: none;
}
div{
  margin-left: 9px;
}
#container {
	padding: 0 90px 0 180px;
}

/*---- GLOBAL NAVI ----*/
header {
  position: fixed;
  left: 0;
	top: 0;
	width: 180px;
	height: 100vh;
	background: white;
	padding: 35px 0 0 0;
}
header #gnav {
	width: 180px;
	margin: 99px 0 0 18px;
  padding-top: 0;
  background: white;
  text-align: left;
}
header p{
  text-align: right;
  margin-left: auto;
}
header li{
  margin-bottom: 1em;
}
nav{
  position: fixed;
  top: 0;
}
.btn{
  box-shadow: 0px 0px 0px 0px white;
}

#btn_mount{
  position: absolute;
  top: 0px;
}
