@charset "UTF-8";

#lnav{
  position: fixed;
  padding: 18px 0 18px 9px;
  margin: 18px 0 0 0;
  background: linear-gradient(hsla(360, 100%, 100%, 0.8) -30%,
                              hsla(360, 100%, 100%, 1) 50%,
                              hsla(360, 100%, 100%, 0.8) 130%
                              );
  width: 100%;
  float: right;
}

#lnav a{
  color: #646464;
  text-decoration: none;
  font-size: 0.9em;
}
#lnav a:hover{
  text-decoration: underline;
}
#lnav ul, #lnav li{
  display: inline;
  margin-right: 0.5em;
  padding: 0;
}
