@charset "UTF-8";
body{
  margin: 0;
  padding: 0;
	color: #646464;
  font-family: "ヒラギノ角ゴ Pro", "メイリオ";
}
a{
  color: #646464;
  text-decoration: underline;
}
a:hover{
  color: #646464;
  text-decoration: underline;
}
#tech_nav {
  padding: 35px 0 0 0;
}
#tech_menu {
  padding: 24px 0 0 0;
}
#tech_menu li {
  margin-top: 2em;
}

@media screen and (max-width: 479px){
  #tech_nav{
    padding-top: 0;
  }
}
