@charset "UTF-8";
#con_face{
  height: 100vh;
}
#mv {
  height: 100%;
  width: auto;
  overflow: hidden;
}
#con_news{
  height: 100vh;
}
#con_mv{
  float: left;
  height: 100%;
  width: auto;
  position: relative;
  margin-right: 20px
}
#con_mc{
  float: left;
  padding-top: 30vh;
  padding-bottom: 70vh;
  width: 240px;
}

#con_mc p {
  margin-bottom: 24px;
  text-align: center;
}

#con_mc h1 {
  margin-top: 96px;
  font-size: 42px;
  text-align: center;
}

#v{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#con_news p{
  padding-top: 36px;
}

#con_twitter{
  width: 100vh;
}
