@charset "UTF-8";
#con_grt{
  float: right;
  width: 540px;
  height:100vh;
  margin-left: auto;
}
#con_mv{
  height:100vh;
  overflow: hidden;
}
#mv{
  height: 100%;
  width: auto;
}
#grt_txt{
  margin-top: 10vh;
}
#grt_txt p {
  margin-bottom: 18px;
  text-align: center;
}
#grt_news{
  position: absolute;
  bottom: 0px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
#grt_news h1 {
  margin-top: auto;
  font-size: 42px;
  text-align: center;
}
#v{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#con_twt{
  margin-top: 18px;
  clear: both;
  height: 100vh;
}


.SandboxRoot.env-bp-970 .timeline-Tweet-text {
    font-size: 10.5pt !important;
    line-height: 14pt!important;
    }

.SandboxRoot.env-bp-820 .timeline-Tweet-text {
    font-size: 10.5pt !important;
    line-height: 14pt!important;
    }
