@charset "UTF-8";
body{
	color: #646464;
  font-family: "ヒラギノ角ゴ Pro", "メイリオ";
}
a{
  color: #646464;
  text-decoration: underline;
}
a:hover{
  color: #646464;
  text-decoration: underline;
}
aside, pre{
  margin: 16px 0px 16px 32px;
}
pre{
  padding-left: 16px;
  border: 1px dotted;
}
aside{
  padding: 16px 16px 16px 16px;
  border: 1px dashed red;
}
h4{
  margin: 0;
}
code{
  font-size: 18px;
}
footer{
	text-align: center;
}
footer p{
	margin: 36px 0 36px 0;
}
