@charset "UTF-8";
body{
  background: white;
	color: #646464;
  font-family: "ヒラギノ角ゴ Pro", "メイリオ";
}
a{
  color: #646464;
  text-decoration: underline;
}
a:hover{
  color: #646464;
  text-decoration: underline;
}
body, h1, h2, p, div, ul,li{
	margin: 0;
	padding: 0;
}
li{
  list-style: none;
}
div{
  margin-left: 9px;
}
#container {
	padding: 0 90px 0 252px;
}



header {
  position: fixed;
  left: 0;
	top: 0;
	width: 252px;
	height: 100vh;
	background: white;
	padding: 35px 0 0 0;
}
header #gnav {
	width: 180px;
	margin: 18px 0 0 18px;
  padding-top: 0;
  background: white;
  text-align: left;
}
header p{
  width: 230px;
  margin-left: auto;
}
header a{
  text-decoration: none;
  font-size: 1.5em;
}
header li{
  margin-bottom: 1em;
}
nav{
  position: fixed;
  top: 0;
}
header .btn{
  box-shadow: 0px 0px 0px 0px white;
}

header .con_btn{
  position: absolute;
  top: 54px;
}
