header {
  position: fixed;
  left: 0;
	top: 0;
	width: 252px;
	height: 100vh;
	background: white;
	padding: 35px 0 0 0;
}
header #gnav {
	width: 180px;
	margin: 99px 0 0 18px;
  padding-top: 0;
  background: white;
  text-align: left;
}
header p{
  width: 230px;
  margin-left: auto;
}
header a{
  text-decoration: none;
  font-size: 1.5em;
}
header li{
  margin-bottom: 1em;
}
nav{
  position: fixed;
  top: 0;
}
header .btn{
  box-shadow: 0px 0px 0px 0px white;
}

header #btn_mount{
  position: absolute;
  top: 0px;
}
